*
!bin/ilias8-core-apply-repository-plugins-patch.diff
!bin/ilias8-core-apply-repository-plugins-patch.sh
!bin/install-libraries.sh
!bin/php-backport.sh
!classes
!classes/**
!autoload.php
!plugin.php
